In [127]:
#single word
'hello'

'hello'

In [128]:
#entire phrase
'This is also a string'

'This is also a string'

In [129]:
#double quotes
"string using double quotes"

'string using double quotes'

In [130]:
#be careful with quotes
" i'm using single quotes,to avoid error use double qoutes in start and end"

" i'm using single quotes,to avoid error use double qoutes in start and end"

In [131]:
" now i'm ready to use quotes in a string"

" now i'm ready to use quotes in a string"

In [132]:
#we can simply declare a string
'hello world'

'hello world'

In [133]:
#cannot print every string this way
print("hello world 1")
'hello wolrd 2'

hello world 1

'hello wolrd 2'

In [134]:
#python2 parentheses weren't used in the print syntax, but executing the same will throw error in python3
print 'hello world 1'
print 'hello world 2'
print 'use \n to print a new line
print '\n'
print 'also use \t for space '
#to correct the error in the print statement just use parantheses

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello world 1')? (<ipython-input-134-71fed177ae8c>, line 2)

In [ ]:
#to use print function from python3 in python2
from__future__import print_function
print 'Hello world '

In [143]:
# string basic
len('hello world')

11

In [144]:
#string indexing
s = ('hello world')

In [145]:
#check
s

'hello world'

In [146]:
#print the object 
print (s)

hello world

In [147]:
#show letter at index 0
s[0]

'h'

In [148]:
s[1]

'e'

In [149]:
s[2]

'l'

In [150]:
#grab everything past 1st letter all the way to the complete length 
s[1:]

'ello world'

In [151]:
#no modification done to original s
s

'hello world'

In [152]:
#grab everything upto index position 3
s[:3]

'hel'

In [153]:
#everything 
s[:]

'hello world'

In [154]:
#to get last letter of a string 
s[-1]

'd'

In [155]:
#grab everything but last letter
s[:-1]

'hello worl'

In [156]:
#grab everything but in step size of 1
s[::1]

'hello world'

In [157]:
#grab everything but in step size of 2
s[::2]

'hlowrd'

In [158]:
#print string backwards
s[::-1]

'dlrow olleh'

In [159]:
#string properties
s

'hello world'

In [160]:
s + ' good morning '

'hello world good morning '

In [161]:
#we can reassign a string but not a string object 
s = s + " good morning "

In [162]:
s

'hello world good morning '

In [163]:
letter = 'm'

In [164]:
letter*9

'mmmmmmmmm'

In [165]:
#basic built-in string methods

In [166]:
s

'hello world good morning '

In [167]:
#upper case a string 
s.upper()

'HELLO WORLD GOOD MORNING '

In [168]:
#lower case a string
s.lower()

'hello world good morning '

In [169]:
#split a string by blank space 
s.split()

['hello', 'world', 'good', 'morning']

In [170]:
#split by specific element 
s.split('o')

['hell', ' w', 'rld g', '', 'd m', 'rning ']

In [171]:
#print formatting

In [172]:
'insert another string with curly brackets : {}'.format ({'inserted string '})

"insert another string with curly brackets : {'inserted string '}"

In [173]:
#location and counting

In [174]:
print(s) 
s.count('o')

hello world good morning

5

In [175]:
s.find('o')

4

In [176]:
s.center(60,'z')

'zzzzzzzzzzzzzzzzzhello world good morning zzzzzzzzzzzzzzzzzz'

In [177]:
'hello\thi'.expandtabs()

'hello   hi'

In [178]:
#is check methods

In [179]:
s = 'hello'

In [180]:
s.isalnum()

True

In [181]:
s.isalpha()

True

In [182]:
s.islower()

True

In [183]:

s.isspace()

False

In [184]:

s.istitle()

False

In [185]:
s.isupper()

False

In [186]:
s.endswith('o')

True

In [187]:
#built-in regular experessions

In [188]:
s.split('e')

['h', 'llo']

In [189]:
s.partition ('e')

('h', 'e', 'llo')

In [190]:
#lists

In [191]:
#assign list to var named my_list
my_list = [1,2,3,4,5]

In [192]:
my_list =['a string ', 6,7,8,'o']
my_list

['a string ', 6, 7, 8, 'o']

In [193]:
len(my_list )

5

In [194]:
#indexing and slicing

In [195]:
my_list = ['hey','there',1,2,3]

In [196]:
#grab element at index 0
my_list [0]

'hey'

In [197]:

#grab index 1 and everything past it
my_list [1:]

['there', 1, 2, 3]

In [198]:
#grab everything upto index 3
my_list [:3]

['hey', 'there', 1]

In [199]:
my_list + ['new item '] #not added permanently

['hey', 'there', 1, 2, 3, 'new item ']

In [200]:
my_list

['hey', 'there', 1, 2, 3]

In [201]:
#reassign
 
my_list = my_list + ['add new item permanently']

In [202]:
my_list

['hey', 'there', 1, 2, 3, 'add new item permanently']

In [203]:

my_list *2

['hey',
 'there',
 1,
 2,
 3,
 'add new item permanently',
 'hey',
 'there',
 1,
 2,
 3,
 'add new item permanently']

In [204]:
my_list #doubling not permanent

['hey', 'there', 1, 2, 3, 'add new item permanently']

In [205]:
#basic list methods

In [206]:
#create new list
l = [1,2,3]

In [207]:
#append
l.append(4)

In [208]:
l

[1, 2, 3, 4]

In [209]:
l.pop(0)

1

In [210]:
l

[2, 3, 4]

In [211]:
#assign the popped element , default popped index is -1
popped_item = l.pop()

In [212]:
popped_item

4

In [213]:
l

[2, 3]

In [ ]:
l[100]  #returns error if no element at that index

In [214]:

new_list = ['a','b','c','d','e']

In [215]:
new_list

['a', 'b', 'c', 'd', 'e']

In [216]:
new_list.reverse()

In [217]:
new_list

['e', 'd', 'c', 'b', 'a']

In [218]:
new_list.sort()

In [219]:
new_list

['a', 'b', 'c', 'd', 'e']

In [220]:
#nesting lists

In [221]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
matrix = [list1 ,list2 ,list3 ]

In [222]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [223]:
matrix [0]

[1, 2, 3]

In [224]:
matrix [0][0]

1

In [225]:
#list comprehension

In [226]:
first_col = [row[0] for row in matrix ]

In [227]:
first_col

[1, 4, 7]

In [228]:
#advanced lists

In [229]:
l = [1,2,3]

In [230]:
l.append(4)

In [231]:
l.count(5)

0

In [232]:

l.count(4)

1

In [233]:
#extend

In [234]:
x = [1,2,3]
x.append ([4,5])
x

[1, 2, 3, [4, 5]]

In [235]:
x = [1,2,3]
x.extend ([4,5,6])
x

[1, 2, 3, 4, 5, 6]

In [236]:
#index

In [237]:

print(l)
l.index(2)

[1, 2, 3, 4]

1

In [238]:

l.index(12) #no output

ValueError: 12 is not in list

In [239]:
#insert

In [240]:
l

[1, 2, 3, 4]

In [241]:
l.insert(2,'inserted ')

In [242]:
l

[1, 2, 'inserted ', 3, 4]

In [243]:
#pop

In [244]:
ele = l.pop()
l

[1, 2, 'inserted ', 3]

In [245]:
ele

4

In [246]:
#remove

In [247]:
l

[1, 2, 'inserted ', 3]

In [248]:
l.remove ('inserted ')

In [249]:
l

[1, 2, 3]

In [250]:
l = [1,2,3,4,3]

In [251]:
l.remove (3) #ran twice to check if removes two instances
l

[1, 2, 4, 3]

In [252]:
#reverse

In [253]:
l.reverse ()

In [254]:
l

[3, 4, 2, 1]

In [255]:
#sort

In [256]:
l

[3, 4, 2, 1]

In [257]:

l.sort()
l

[1, 2, 3, 4]