In [3]:
#tuples

In [98]:
#can create tuple with mixed types 
t = (1,2,3)
len(t)

3

In [99]:
# using mixed object types 
t = ('one',2)
t

('one', 2)

In [100]:
#using indexing
t[0]

'one'

In [101]:
#slicing
t[-1]

2

basic tuple methods

In [102]:
#use .index to enter value and return index 
t.index('one')

0

In [103]:
#use .count to count the number of times a value appears 
t.count ('one')

1

immutable

In [ ]:
#tuples cannot support item assignment
t[0] = 'change'

In [ ]:
t.append ('nope')

sets

In [106]:
x = set()

In [107]:
x.add(1)
x

{1}

In [108]:

x.add(2)
x

{1, 2}

In [109]:
x.add(1) #sets show only one instance of an item 
x

{1, 2}

In [110]:
l = [1,1,2,2,3,4,5,6,1,1] #grab unique elements from this list

In [111]:
set (l)

{1, 2, 3, 4, 5, 6}

dictionaries

In [112]:
my_dict = {'key1':'value1','key2':'value2'}

In [113]:
my_dict ['key2']

'value2'

In [114]:
#will hold multiple data types 
my_dict = {'key1':123,'key2':[12,23,44],'key3':['item1','item2']}
my_dict

{'key1': 123, 'key2': [12, 23, 44], 'key3': ['item1', 'item2']}

In [115]:
my_dict ['key3']

['item1', 'item2']

In [116]:
my_dict ['key3'][0]

'item1'

In [117]:
my_dict ['key3'][0].upper()

'ITEM1'

In [118]:
my_dict ['key1']

123

In [119]:
my_dict ['key1'] = my_dict ['key1'] - 123

In [120]:
my_dict ['key1']

0

In [121]:
my_dict ['key1'] -= 123
my_dict ['key1']

-123

In [122]:
d ={}

In [123]:
d['animal ']='dog'

In [124]:
d['answer']=42
d

{'animal ': 'dog', 'answer': 42}


nesting with dictionaries

In [125]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [126]:

d ['key1']['nestkey']['subnestkey']

'value'


dictionary methods

In [127]:
d = {'key1':1,'key2':2,'key3':3}

In [128]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [129]:
d.values()

dict_values([1, 2, 3])

In [130]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])


dictionary comprehensions

In [131]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}


functions

In [ ]:
###def statements
def name_of_function(arg1,arg2):
    
 #This is where the function's Document String (doc-string) goes
# Do stuff here
#return desired result

In [134]:
def say_hello():
    print('hello')

In [135]:
say_hello()

hello

In [136]:

def greet(name):
    print('hello %s' %name)

In [137]:
greet('jose')

hello jose

USING RETURN

In [138]:

def add_num(num1, num2):
    return num1+num2

In [139]:
add_num(6,4)

10

In [144]:
result = add_num (4,6)
result

10

In [145]:
print (add_num ('one\t','two'))

one	two

In [146]:
def is_prime(num):
    '''
    naive method of checking for primes.
    '''
    for n in range (2,num):
        if num % n ==0:
            print ('not prime ')
            break 
    else:
        print ('prime ')

In [147]:
is_prime(11)

prime

In [148]:
import math
def is_prime(num):
    '''
    better method of checking primes
    '''
    if num%2 == 0 and num>2:
        return False
    for i in range (3,int(math.sqrt(num))+1,2):
        if num%i == 0:
            return False
    return True

In [149]:
is_prime(23)

True

#Iterators and Generators

In [150]:
#generator function for cube of numbers
def gencubes(n):
    for num in range(n):
        yield num**3

In [151]:
for x in gencubes(28):
    print(x)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683

In [152]:
def genfibon(n):
    '''
    generate a fibonacci sequence up to n
    '''
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b, a+b

In [153]:
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [154]:
def fibon(n):
    a = 1
    b = 1
    result  =[]
    for i in range(n):
        result.append (a)
        a,b = b, a+b
    return result

In [156]:
fibon(18)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]

#next() and iter() built-in functions

In [157]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [159]:
def ez_gen():
    for x in range(3):
        yield x

In [160]:
g = ez_gen()

In [161]:
print(next(g))

0

In [162]:
print(next(g))

1

In [163]:
print(next(g))

2

In [164]:
s = 'hello'
for i in s:
    print(i)

h
e
l
l
o

In [ ]:
next(s)

In [166]:
#how to iterate over a string
s_iter = iter(s)

In [167]:
next(s_iter )

'h'

In [168]:

next(s_iter )

'e'

#map

In [169]:
def fahrenheit(T):
    return ((float(9)/5)*T +32)
def celsius(T):
    return (float(5)/9)*(T -32)
temp = [0,22.5,40,100]

In [170]:
F_temps = list(map(fahrenheit,temp))
F_temps

[32.0, 72.5, 104.0, 212.0]

In [171]:
list (map(celsius , F_temps))

[0.0, 22.5, 40.0, 100.0]

In [172]:
list (map(lambda x: (5.0/9)*(x-32),F_temps))

[0.0, 22.5, 40.0, 100.0]

In [173]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]
list (map(lambda x,y: x+y, a,b))

[6, 8, 10, 12]

In [174]:

list(map(lambda x,y,z : x+y+z, a,b,c))

[15, 18, 21, 24]


#Reduce

In [175]:

from functools import reduce 
list1= [22,33,44,55]
reduce (lambda x,y:x+y, list1)

154

In [176]:
max_find= lambda a,b: a if (a>b)else b

In [177]:

reduce ( max_find, list1)

55

#Filter

In [178]:

def even_check(num):
    if num%2 ==0:
        return True

In [179]:
l=range(20)
print(list(l))
list(filter(even_check,l))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [180]:
list(filter(lambda x : x%2==0,l))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]