In [45]:
#integers
x = 10
type(x)

int

In [44]:
#float
x = 5.5
type(x)

float

In [43]:

#string
x = 'karan'
type(x)

str

In [42]:
#boolean
b1 = True
b2 = False
type(b1)

bool

In [41]:
#complex
x = 2 - 3j
type(x)

complex

In [40]:
#variable
tenth = 10
two = 2
print(tenth)
print(two)

10
2

In [39]:
#dynamic typing
one = 1
one

1

In [38]:
one ='one'
one

'one'

In [37]:
#strong typing
'day' + '1'

'day1'

In [36]:
#boolean expressions
True and False

False

In [35]:
True or False

True

In [34]:
True is True

True

In [33]:
False is False

True

In [32]:
'a' is not 'a'

False

In [31]:
'a' is 'b'

False

In [30]:
#branching (if,elif,else)
k = 7
if k < 7:
    print('less than 7')
elif k < 10:
    print('less than 10')
else:
    print('more than 7')

less than 10

In [29]:
#list

l = []
l

[]

In [28]:
l = list()
l

[]

In [27]:
l = ['a','b','c']
print(l)
type(l)

['a', 'b', 'c']

list

In [25]:
l = ('d','3')
print (l)
type (l)

('d', '3')

tuple

In [23]:
l2 = (list)
l2

list

In [21]:
l = [1,2]
print(l)

l.append('b')
print(l)
l.append('c')
print(l)

l.append('1,56')
l

[1, 2]
[1, 2, 'b']
[1, 2, 'b', 'c']

[1, 2, 'b', 'c', '1,56']

In [22]:
for i in l:
    print(i)

1
2
b
c
1,56

In [17]:
#for loop
numbers = [6,6,6,8,1,2,3,4]

#variable to store sum
sum = 0

for i in numbers:
    sum = sum + i
print ("the sum is", sum)
sum

the sum is 36

36

In [16]:
digits =[1,3,5]
for i in digits:
    print(i)
else:
    print("no items left.")

1
3
5
no items left.

In [15]:
#while loop
#program to add natural numbers

#to take input from the user
n = int(input("Enter n: "))

#initialize sum and counter

sum = 0
i = 1

while i<=n:
    sum = sum + i
    i = i + 1
    
print("The sum is", sum)

Enter n: 82
The sum is 3403

In [ ]:
#range() function #important

In [14]:
print(range(10))

range(0, 10)

In [13]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
print(list(range(2,9)))

[2, 3, 4, 5, 6, 7, 8]

In [11]:
print(list(range(2,25,5)))

[2, 7, 12, 17, 22]

In [10]:
# Program to iterate through a list using indexing
genre = ['rock','jazz','melody','bass']
for i in range(len(genre)):
    print("I like",genre[i])

I like rock
I like jazz
I like melody
I like bass

In [9]:

for val in "karan":
    if val == "I":
        continue
    print(val)
print("The end")

k
a
r
a
n
The end

In [6]:
name = input('what is your name?\n')
type(name)

what is your name?
karan

str

In [7]:
age=int(input("What is your age? "))
print(f'your age is {age}')
type(age)

What is your age? 20
your age is 20

int

In [8]:
name = input("what is your name? ")
print ("it was nice talking to you " + name + "!")
age = input("enter your age?")
print("Hey, you are already " + age + " years old, " + name + "!")

what is your name? karan
it was nice talking to you karan!
enter your age?20
Hey, you are already 20 years old, karan!